/* Define the Dancing Script font */
@font-face {
  font-family: 'Dancing Script';
  src: url('fonts/DancingScript-VariableFont_wght.ttf') format('truetype');
  font-weight: 1 999; /* Font weight range for variable font */
  font-style: normal;
}

/* Use the Dancing Script font */
.custom-font2 {
  font-family: 'Dancing Script', cursive;
  font-size: 48px;
}