/* Define the Orbitron font */
@font-face {
  font-family: 'Orbitron';
  src: url('fonts/Orbitron-VariableFont_wght.ttf') format('truetype');
  font-weight: 1 999; /* Font weight range for variable font */
  font-style: normal;
}

/* Use the Orbitron font */
.custom-font {
  font-family: 'Orbitron', sans-serif;
  font-size: 24px;
}


